{% extends 'base.html' %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="/static/style.css?3">
	<script src="/static/main.js?3"></script>
{% endblock %}

{% block body %}
	<header>
		<h1>{{ title }}</h1>
		
		<form id="form" method="post">
			<p>
				<input type="text" name="gameid" placeholder="Game Name"/>
				<button type="submit">Start</button>
			</p>
		</form>
	</header>
	
	<main id="game">
		<p class="message">
			Leave "Game Name" blank to go against a random player,
			or enter an arbitrary string to create/join that game.
		</p>
		<div class="board-wrap">
			<div class="board"></div>
		</div>
		<ul class="captured"></ul>
	</main>
	
	<footer>
		<p>
			Code: <a href="https://gitlab.com/valtron/fog">https://gitlab.com/valtron/fog</a>
		</p>
	</footer>
	
	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', () => {
			const $form = document.querySelector('#form');
			const $game = document.querySelector('#game');
			new FogGame($form, $game);
		});
	</script>
{% endblock %}
