* {
	box-sizing: border-box;
}

html {
	background-color: #E3E3E3;
}

body {
	max-width: 760px;
	margin: 0em auto;
	padding: 1em;
	text-align: center;
}

h1, p, section {
	margin-top: 0em;
	margin-bottom: 0.5em;
}

input, button {
	font-family: inherit;
	padding: 0.3em 0.5em;
	border: 0.1em solid black;
}

button {
	cursor: pointer;
}
button:active {
	background: black;
	color: white;
}

.board-wrap {
	width: 100%;
	padding-top: 100%;
	position: relative;
	margin-bottom: 1em;
}

.my-turn .board {
	box-shadow: 0em 0em 0.5em lime;
	border-color: lime;
}

.board {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	
	transition: box-shadow 0.5s, border-color 0.5s;
	
	border: 0.1em solid black;
	display: grid;
	grid-template-columns: repeat(8, 12.5%);
	grid-template-rows: repeat(8, 12.5%);
}

.cell {
	border: 0.02em solid #999999;
	font-size: 7.5vw;
	cursor: default;
}

@media (min-width: 770px) {
	.cell {
		font-size: 58px;
	}
}

.cell.cell-0 {
	background: hsl(240, 60%, 85%);
}

.cell.cell-1 {
	background: hsl(0, 60%, 85%);
}

.cell.movable, .cell.move-option {
	cursor: pointer;
}

.cell.hidden {
	background-color: #CCCCCC;
}

.cell.possible-move {
	background-color: hsl(80, 100%, 90%);
}

.cell.move-option {
	background-color: hsl(80, 100%, 50%);
}

.message {
	max-width: 30em;
	margin-left: auto;
	margin-right: auto;
}

.captured {
	list-style-type: none;
	font-size: 2em;
	margin-top: 0em;
	margin-bottom: 0.5em;
	padding-left: 0em;
	word-break: break-all;
}

.captured li {
	display: inline;
}

.p0 {
	color: red;
}

.p1 {
	color: blue;
}

footer {
	margin-top: 3em;
	margin-bottom: 2em;
}
